<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Weather Journal</title>
</head>
 <body>
<div id = "app">
  <div class ="holder headline">
    My Travel App
  </div>
  <div class ="holder zip">
      <label for="zip">Travel Destination</label>
      <input type="text" id="zip" placeholder="Enter location here">
      <label for="dt">Trip Start Date</label>
      <input type="date" id="dt">
      <label for="dt">Trip End Date</label>
      <input type="date" id="enddt">
  </div>
  <div class ="holder feel">
    <button id="generate" type = "submit"> Submit </button>
  </div>

  <div class ="holder entry">
    <div class="output">
        <h2>Trip Planner</h2>
        <div class="card">
            <div class="card-image">
                <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAADUlEQVR42mP8/5+hHgAHggJ/PchI7wAAAABJRU5ErkJggg==" id="tripImg" />
            </div>
            <div class="card-data">
                <h4>My trip to <span id="loc"></span></h4>
                <h4>Departing: <span id="date"></span></h4>
                <p>Typical weather for then is:</p>
                <span id="weatherInfo"></span>
            </div>
        </div>
    </div>

  </div>
  </div>
<script>
           // Check that service workers are supported
            if ('serviceWorker' in navigator) {
            // Use the window load event to keep the page load performant
            window.addEventListener('load', () => {
                navigator.serviceWorker.register('/service-worker.js');
            });
            }
 </script>
</body>
</html>