body{
    background: #fde2e2;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

#app{
    background: #fde2e2;
    color: #000;
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
}

.row {
  display: flex;
}

.column {
  flex: 50%;
}

.holder{

}



#entryHolder{

}

#date{

}

#temp{

}

#content{

}

.headline {
    text-align: center;
    color: #679b9b;
    background: #fde2e2;
    font-size: 40px;
    margin: 16px;
}
.col1{
    background: #aacfcf;
}
.col2{
    background: #ffb6b6;
}

.output {
    font-family: 'Oswald', sans-serif;
    font-size: 18px;
    color: black;
    padding: 16px;
    margin: 16px;
}

h2 {
    margin-top: 0;
}

.card {
    display: flex;
    align-items: flex-start;
}

.card-image {
    margin-right: 15px;
}

h4 {
    margin: 8px;
    font-family: 'Oswald', sans-serif;
    color: #3b4a6b;
}

/*  Basic Styling To Override Default For Basic HTML Elements */
label{
    display:block;
    font-size: 18px;
    margin: 8px;
}

input{
    display:block;
    height: 60px;
    width: 320px;
    margin: 16px;
    background:#22b2da;
    padding-left: 8px;
    color: #f0d43a;
    font-size: 14px;
    font-family: 'Oswald', sans-serif;
    border: none;
}

input:hover{
    background: #005082;
}

button{
    display:block;
    width: 100px;
    height: 48px;
    background: #3b4a6b;
    margin: 24px;
    color: #f0d43a;
    font-size: 18px;
    font-family: 'Oswald', sans-serif;
    border: none;
    box-shadow: 2px 4px 5px #444;
}

button:hover {
    background: #000839;
}

h1{
    font-size: 36px;
}

#weatherInfo{
    color: #000839;
    font-size: 18px;
}

/* Reset style for HTML element on active to have no border*/
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

/* Style for Placeholder Text*/
::placeholder { /* Firefox, Chrome, Opera */ 
    color: #f0d43a;
    margin: 8px;
    font-family: 'Oswald', sans-serif;

} 
  
:-ms-input-placeholder { /* Internet Explorer 10-11 */ 
    color: #f0d43a;
    margin: 8px;
    font-family: 'Oswald', sans-serif;

} 
  
::-ms-input-placeholder { /* Microsoft Edge */ 
    color: #f0d43a;
    margin: 8px;
    font-family: 'Oswald', sans-serif;
}

@media (max-width: 800px) {
    .row{
         display: flex;
         flex-flow: column wrap;
    }
}